.second-container-app {
    display: none;
    padding: 2vw;
    height: inherit;
    width: inherit;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    list-style: none;
}

.container iframe {
    width: 25vw;
    height: 30vh;
    border: .2vw solid black;
}

#generate {
    color: white;
    background: #F00;
    padding: 1vw;
    border-radius: 10vw;
    margin: 2vw;
    font-size: 1vw;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
}