* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0c0c0c;
}

main {
  background-image: url("../../assets/img/background.jpg");
}
